<div class="ui small menu">
	<a class="active item">
	Home</a>
	<div class="right menu">
		<div class="ui dropdown item">
			Menu<i class ="dropdown icon"></i>
			<div class="menu">
				<a class="item"> Item 1</a>
				<a class="item"> Item 2</a>
			</div>

		</div>
	</div>
</div>