
    <p>Your order confirmed for <%= @order.user.username %>!</p>
    <p>
    post details<br>
    --------------------------
    </p>
    <p>Name: <%= @order.user.username %></p>
    <p>Quantity: <%= @order.qty %></p>
    <p>
    Message:<br>
    ----------
    </p>
    <p>
    Order Received for <%= @order.qty %> cases</p>
    Our Team will contact you shortly.
 