<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Your order confirmed for <%= @post.title %>!</p>
    <p>
    post details<br>
    --------------------------
    </p>
    <p>Name: <%= @post.title %></p>
    <p>Email: <%= @post.description %></p>
    <p>
    Message:<br>
    ----------
    </p>
    <p><%= @post.description %></p>
  </body

>
</html>