<h1 class="text-center">Edit Post</h1>
<br/>
<% if @post.errors.any? %>
	<p>The Post cannot be updated due to:</p>
	<ul> 
		<% @post.errors.full_messages.each do |msg| %>
		<li><%= msg %> </li>
		<% end %>
	</ul>
<% end %>
<br/>
<%= render '/posts/postform' %>